/project/project
/project/target
/target
/.idea
/elastic-orm-2/target
/elastic-orm-6/target
/routes/target
/script-compiler/target
/webby/target
/webby-haxe/build.hxml
/webby-haxe/build
/webby-haxe/out
/webby-haxe/target
/webby-haxe-test/target
/node_modules
/package-lock.json
/log
